@font-face {
    font-family: 'Happy Monkey';
    src: url('./HappyMonkey-Regular.ttf');
}

form {
    display: flex;
    flex-direction: column;

    background: silver;
    color: black;

    /**
    Center and align the form on the page
    */
    margin: 0 auto;
    max-width: 320px;
    padding: 32px;
    width: 100%;
    border-radius: 10px;

    z-index: 10;

    position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;

    font-family: 'Happy Monkey', cursive;

    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

h1 {
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
}